@Master['MasterPage'];

@Section['Content']
@Partial['LoginPartial.html'];
<div class="table-border-roster-result">
    <table class="splitter">
        <thead>
        <tr>
            <th rowspan="2">Наименование суда</th>
            <th rowspan="2">Номер дела</th>
            <th colspan="3">Стороны</th>
            <th rowspan="2">Требования</th>
            <th colspan="2">Информация о движении дела</th>
            <th rowspan="2">Результат рассмотрения</th>
            <th rowspan="2">Сведения об исполнении</th>
            <th rowspan="2">
                Действия
            </th>
        </tr>
        <tr>
            <th>Истец</th>
            <th>Ответчик</th>
            <th>Третьи лица</th>
            <th>Процессуальные действия и стадии судебного производства</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        @Each.Collection
        <tr>
            <td>@Current.CourtName</td>
            <td>@Current.CaseNumber</td>
            <td>@Current.Sides.SidePlaintiff</td>
            <td>@Current.Sides.SideDefendant</td>
            <td>@Current.Sides.SideThirdPartyMember</td>
            <td>@Current.Requirements</td>
            <td>@Current.Progress.ActionsOrStages</td>
            <td>@Current.Progress.ShortDate</td>
            <td>@Current.ConsiderationResult</td>
            <td>@Current.PerformanceInformation</td>
            <td>
                <a href="SudTable/Delete/@Current.Id">Удалить</a>
            </td>
        </tr>
        @EndEach
        </tbody>
    </table>
    <div id="tabs">
        
    </div>
</div>
@EndSection

@Section['Script']
<script type="text/javascript" language="javascript">
    console.log('hello');
    var pagesCount = @Model.TotalPages;
    var tabsDiv = $('#tabs');
    $(document).ready(function() {
        for (var i = 0; i < pagesCount; i++) {
            $('<a class="btn btn-info small" href="/fromlogged=' + i + '">' + i + '</a>').appendTo(tabsDiv);
        }
    });
</script>
@EndSection